body {
  margin: 0;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  margin: auto;
  max-width: 100%;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
}

.flex-item {
  flex: 0 0 100%;
  border: thin solid #ccc;
}

@media (min-width: 576px) {
  .flex-item {
    flex: 0 0 50%;
  }
}

@media (min-width: 768px) {
  .flex-item {
    flex: 0 0 33.33333333%;
  }
}

@media (min-width: 992px) {
  .flex-item {
    flex: 0 0 25%;
  }
}

@media (min-width: 1200px) {
  .flex-item {
    flex: 0 0 16.66666667%;
  }
}

@media (min-width: 1400px) {
  .flex-item {
    flex: 0 0 12.5%;
  }
}
